# Environments
.venv/
.ipynb_checkpoints/

# Data
data/raw/*
data/interim/*
data/processed/*
!data/.gitkeep
Enhanced/*
output/*


# Project outputs
logs/
adsb/
noise_data.xlsx
combined_noise_measurements.csv
output/*.csv

# Reports
reports/figures/*
reports/tables/*
reports/logs/*

# OS
.DS_Store
*.pyc
